<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="footer-widget mb-70">
                    <!-- Logo -->
                    <!-- Logo -->
                </div>
            </div>

            <!-- Footer Widget Area -->
        </div>
    </div>

    <!-- Copywrite Area -->
</footer>
<script src="~/themes/vizew/js/jquery/jquery-2.2.4.min.js"></script>
<script src="~/themes/vizew/js/bootstrap/popper.min.js"></script>
<script src="~/themes/vizew/js/bootstrap/bootstrap.min.js"></script>
<script src="~/themes/vizew/js/plugins/plugins.js"></script>
<script src="~/themes/vizew/js/active.js"></script>
<script src="~/themes/vizew/js/prism.js"></script>